/***********************************************
* comonn
************************************************/

body {
	font-size: 8pt;
	font-family: Arial, Helvetica, sanf-serif; }

/***********************************************
* header
************************************************/

div#header {
	display: none; }
	
/***********************************************
* body
************************************************/

table#body-container {
	}
	
td#menu-pane {
	display: none; }
	
td#content-pane {
	}